#aboutPEPage #myHeader {
  position: fixed;
  left: 0;
  top: 0;
}
#aboutPEPage .section {
  padding-top: 70px;
}
#aboutPEPage #aboutPE .aboutPE-content {
  margin-bottom: 70px;
}
#aboutPEPage #aboutPE .aboutPE-content .content-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  min-width: 200px;
}
#aboutPEPage #aboutPE .aboutPE-content .content-item i {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url('../img/background/aboutPE-content-bg.png') no-repeat;
}
#aboutPEPage #aboutPE .aboutPE-content .content-item i.firstIcon {
  background-position: 0 0;
}
#aboutPEPage #aboutPE .aboutPE-content .content-item i.secondIcon {
  background-position: 33.3% 0;
}
#aboutPEPage #aboutPE .aboutPE-content .content-item i.thirdIcon {
  background-position: 66.6% 0;
}
#aboutPEPage #aboutPE .aboutPE-content .content-item i.fourthIcon {
  background-position: 100% 0;
}
#aboutPEPage #aboutPE .aboutPE-content .content-item .content-item-text {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  margin-left: 25px;
  width: 120px;
  text-align: justify;
}
#aboutPEPage #aboutPE .aboutPE-content .content-item .content-item-text h3 {
  margin-bottom: 10px;
  color: #951d22;
  font-size: 20px;
  font-size: 2.0rem;
}
#aboutPEPage #aboutPE .aboutPE-content .content-item .content-item-text p {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
}
#aboutPEPage #aboutPE .sectionIntro {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  color: #951d22;
}
#aboutPEPage #aboutPE .sectionIntro .sectionIntro-title {
  position: relative;
  padding-bottom: 12px;
  border-bottom: 1px solid #a7a7a7;
}
#aboutPEPage #aboutPE .sectionIntro .sectionIntro-title p {
  font-family: "Arial Black", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
}
#aboutPEPage #aboutPE .aboutPE-customer {
  margin-bottom: 20px;
}
#aboutPEPage #aboutPE .aboutPE-customer .myTable {
  margin: 0 auto;
  width: 85%;
}
#aboutPEPage #aboutPE .aboutPE-customer .myTable td {
  text-align: center;
  border: 1px solid #bfbfbf;
}
#aboutPEPage #aboutPE .aboutPE-customer .myTable td img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
#aboutPEPage #aboutPE .aboutPE-customer .myTable td:hover img {
  filter: none;
  -webkit-filter: none;
  transition: 0.3s all ease-in;
}
#aboutPEPage #aboutPE .aboutPEImage {
  text-align: center;
}
#aboutPEPage #aboutPE .aboutPEImage img {
  width: 100%;
}
