#joinUsPage #myHeader {
  position: fixed;
  left: 0;
  top: 0;
}
#joinUsPage #cooperate .cooperateProcess h3 {
  font-size: 28px;
  font-size: 2.8rem;
}
#joinUsPage #cooperate .cooperateProcessImage {
  margin-top: 40px;
  margin-bottom: 70px;
}
#joinUsPage #cooperate .cooperateProcessImage img {
  width: 100%;
}
#joinUsPage #cooperate .cooperateText {
  line-height: 1.8;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  color: #272525;
}
#joinUsPage #cooperate .cooperateText .red {
  margin-top: 40px;
  margin-bottom: 50px;
  color: #951d22;
  font-weight: 600;
}
#joinUsPage #cooperate .cooperateContent {
  margin-top: 40px;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon {
  display: inline-block;
  vertical-align: middle;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon i {
  display: inline-block;
  width: 106px;
  height: 106px;
  background: url('../img/background/joinUs-content-bg.png') no-repeat;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon i.market {
  background-position: 0 0;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon i.intelligence {
  background-position: 25% 0;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon i.industry {
  background-position: 50% 0;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon i.machining {
  background-position: 75% 0;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon i.cooperate {
  background-position: 100% 0;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon:hover i.market {
  background-position: 0 100%;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon:hover i.intelligence {
  background-position: 25% 100%;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon:hover i.industry {
  background-position: 50% 100%;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon:hover i.machining {
  background-position: 75% 100%;
}
#joinUsPage #cooperate .cooperateContent .cooperateContent-icon:hover i.cooperate {
  background-position: 100% 100%;
}
@media screen and (max-width: 767px) {
  #joinUsPage #cooperate .cooperateContent {
    margin-top: 20px;
  }
  #joinUsPage #cooperate .cooperateContent .cooperateContent-icon {
    text-align: center;
    margin-bottom: 10px;
  }
}
#joinUsPage #cooperate .cooperateContent-icon:hover + div h3 {
  color: #951d22;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
}
#joinUsPage #cooperate .cooperateContent-icon:hover + div p {
  color: #951d22;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
}
#joinUsPage #cooperate .cooperateContent-text {
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
}
#joinUsPage #cooperate .cooperateContent-text h3 {
  color: #272525;
  font-size: 24px;
  font-size: 2.4rem;
}
@media screen and (max-width: 767px) {
  #joinUsPage #cooperate .cooperateContent-text h3 {
    text-align: center;
  }
}
#joinUsPage #cooperate .cooperateContent-text p {
  margin-top: 10px;
  color: #2c2c2c;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.8;
}
